<!--https://www.geeksforgeeks.org/web-templates/create-a-fixed-sidebar-using-html-and-css/-->
<style>


.sidebar {
  position: fixed;
  top: 165px; /* leave space for header */
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #222;
  padding-top: 20px;
}

  .sidebar a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }

  .sidebar a:hover {
    background-color: #2980b9;
  }

  .content {
    margin-left: 200px; /* same as sidebar width */
    padding: 20px;
    box-sizing: border-box;
  }
</style>